.login-box {
    background-color: gainsboro;
    padding: 30px;
    border-radius: 5%;
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.showBtn {
    display: absolute;
}